@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barriecito&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Lilita+One&display=swap');

* {
    font-family: 'Amatic SC', sans-serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-color: rgb(8, 1, 22);
    overflow: hidden;
}

.Logo { 
    float: left;
    margin-top: 5px;    
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

header {   
    background-color: #0f0427;
    display: flow-root;
}

.menu, li, a {
    float: right;
    color: white;
    font-size: 25px;
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-right: 10px;
}

a:hover {
    color: rgb(166, 224, 228);
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 2px 1px white;
    animation: star-scale infinite alternate;
}
@keyframes star-scale {
    0% {transform: scale(1); opacity: 1; }
    25% {transform: scale(.9); opacity: .8; }
    50% {transform: scale(1); opacity: .9; }
    75% {transform: scale(2); opacity: .2; }
    100% {transform: scale(.9); opacity: .9; }
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

#caption {
    text-align: center;
    font-size: 100px;
    text-shadow: 0px 0px 10px rgb(166, 224, 228);
}