@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barriecito&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Lilita+One&display=swap');

* {
    font-family: 'Amatic SC', sans-serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-color: rgb(8, 1, 22);
    overflow: -moz-scrollbars-none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Opera */
}

.Logo { 
    float: left;
    margin-top: 5px;    
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

header {   
    background-color: #0f0427;
    display: flow-root;
}

.menu, li, a {
    float: right;
    color: white;
    font-size: 25px;
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-right: 10px;
}

a:hover {
    color: rgb(166, 224, 228);
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 2px 1px white;
    animation: star-scale infinite alternate;
}
@keyframes star-scale {
    0% {transform: scale(1); opacity: 1; }
    25% {transform: scale(.9); opacity: .8; }
    50% {transform: scale(1); opacity: .9; }
    75% {transform: scale(2); opacity: .2; }
    100% {transform: scale(.9); opacity: .9; }
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

#caption {
    text-align: center;
    font-size: 100px;
    text-shadow: 0px 0px 10px rgb(166, 224, 228);
}

#Sun {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background-color: yellow;
    
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 23px 0px rgb(255, 255, 42);

    z-index: 1;
}
#Sun:hover {
    box-shadow: 0px 0px 25px 0px rgb(247, 233, 108);
}

#FirstCircle {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 0;
}
#Mercury {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    
    position: absolute;
    top: 89.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);

    z-index: 1;
}
#Mercury:hover {
    box-shadow: 0px 0px 15px 0px rgb(255, 255, 255);
}

#SecondCircle {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 0;
}
#Venus {
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    
    position: absolute;
    top: 89%;
    left: 45%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);

    z-index: 1;
}
#Venus:hover {
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

#ThirdCircle {
    width: 260px;
    height: 260px;
    border-radius: 150px;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 0;
}
#Earth {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(0, 110, 255);
    
    position: absolute;
    top: 97.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 0px rgb(0, 162, 255);

    z-index: 1;
}
#Earth:hover {
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

#FourthCircle {
    width: 330px;
    height: 330px;
    border-radius: 170px;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 0;
}
#Mars {
    width: 17px;
    height: 17px;
    border-radius: 10px;
    background-color: rgb(202, 66, 3);
    
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 0px rgb(255, 123, 0);

    z-index: 1;
}
#Mars:hover {
    box-shadow: 0px 0px 20px 0px rgb(255, 157, 92);
}

#FifthCircle {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 0;
}
#Jupiter {
    width: 37px;
    height: 37px;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px 0px rgb(119, 119, 119);

    z-index: 1;
}
#Jupiter:hover {
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

#SixthCircle {
    width: 480px;
    height: 480px;
    border-radius: 240px;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 0;
}
#Saturn {
    width: 31px;
    height: 31px;
    border-radius: 17px;
    background-color: rgb(246, 248, 129);
    
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px 0px rgb(255, 244, 85);

    z-index: 1;
}
#Saturn:hover {
    box-shadow: 0px 0px 20px 0px rgb(255, 240, 154);
}

#SeventhCircle {
    width: 560px;
    height: 560px;
    border-radius: 270px;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 0;
}
#Uranus {
    width: 27px;
    height: 27px;
    border-radius: 17px;
    background-color: rgb(171, 205, 250);
    
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px 0px rgb(0, 162, 255);

    z-index: 1;
}
#Uranus:hover {
    box-shadow: 0px 0px 20px 0px rgb(211, 250, 255);
}

#EighthCircle {
    width: 650px;
    height: 650px;
    border-radius: 310px;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 0;
}
#Neptune {
    width: 28px;
    height: 28px;
    border-radius: 18px;
    background-color: rgb(191, 219, 255);
    
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px 0px rgb(156, 219, 255);

    z-index: 1;
}
#Neptune:hover {
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

footer {
    background-color: #0f0427;
    position: absolute;
}
