a:hover {
    color: rgba(212, 136, 21, 0.842);
}

.Logo {
    color: rgb(211, 134, 19);
}

#JupiterPhoto {
    position: absolute;
    z-index: 10;
    right: 68%;
    bottom: 30%;
}

#JupiterInformation {
    position: absolute;
    left: 33%;
    right: 2%;
    bottom: 56%;
    font-size: 30px;
    color: white;
    z-index: 10;
}

#borderOne {
    position: absolute;
    left: 32%;
    bottom: 55%;
    width: 1000px;
    height: 210px;
    background-color: rgba(226, 147, 27, 0.842);
    z-index: 0index;
    border-radius: 15px;
}

#borderTwo {
    position: absolute;
    left: 75%;
    bottom: 3%;
    width: 350px;
    height: 350px;
    background-color: rgba(223, 145, 30, 0.842);
    z-index: 0index;
    border-radius: 15px;
}

#ScanQR {
    position: absolute;
    left: 40%;
    bottom: 23%;
    font-size: 60px;
    color: white;
    z-index: 10;
}

#JupiterQR {
    position: absolute;
    left: 76%;
    bottom: 5%;
    width: 320px;
    height: 320px;
    z-index: 10;
}